.footer {
  align-items: center;
  background-color: #fff;
  border-top: 3px solid #ffd506;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.25rem 0.9375rem;
  text-align: center;
}

.footer p {
  color: rgba(0, 0, 0, .5);
  font-size: 0.6875rem;
  opacity: 0.75;
}

.footer p:first-child {
  margin-bottom: 0.3125rem;
}

@media (min-width: 460px) {
  .footer {
    left: 0;
    position: fixed;
    right: 0;
    z-index: 100;
  }

  .footer p {
    font-size: 0.8125rem;
  }
}
