.item {
  align-items: center;
  background-color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  margin: 0.625rem 0;
  padding: 0.625rem 0.9375rem;
  position: relative;
  width: 100%;
  border-radius: 0.3125rem;
  box-shadow: 0 0.25rem 0.5625rem 0 rgba(0, 0, 0, 0.05);
}

.item:not(:first-child) {
  border-top: 1px solid rgba(0, 0, 0, .1);
}

.item::before {
  content: '';
  box-shadow: 0 3px 6px 0 rgba(243, 230, 37, 0.27);
  background-color: #ffd506;
  width: 4px;
  border-radius: 0.3125rem 0 0 0.3125rem;
  top: 0;
  bottom: 0;
  left: 0;
  position: absolute;
}

.itemLabel {
  color: #554e8f;
  cursor: pointer;
  margin: 0.3125rem;
  position: relative;
  font-weight: 500;
  letter-spacing: 0.5px;
  transition: all .3s ease-in-out;
}

.itemCheckbox {
  position: relative;
  top: 0.125rem;
  margin: 0 1.875rem 0 0;
  cursor: pointer;
}

.itemCheckbox::before,
.itemCheckbox::after {
  content: "";
  position: absolute;
  transition: all .3s ease-in-out;
  border: 2px solid #ffd506;
}

.itemCheckbox::before {
  border-radius: 50%;
  height: 1.25rem;
  top: -4px;
  left: 0;
  width: 1.25rem;
  z-index: 1;
}

.itemCheckbox::after {
  top: 0.1875rem;
  left: 0.3125rem;
  width: 0.625rem;
  height: 0.625rem;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
}

.itemCompleted {
  background-color: rgba(255, 255, 255, .25);
}

.itemCompleted::before {
  background-color: #d10263;
}

.itemCompleted .itemLabel {
  color: #d9d9d9;
  text-decoration: line-through;
  font-style: italic;
}

.itemCompleted .itemCheckbox::before {
  background-color: #d10263;
  border-color: #d10263;
}

.itemCompleted .itemCheckbox::after {
  transform: rotate(-50deg);
  height: 0.3125rem;
  border-color: #fff;
  border-top-style: none;
  border-right-style: none;
  visibility: visible;
  opacity: 1;
}

.itemRemove {
  align-items: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  background-color: rgba(255, 207, 207, 0.4);
  border-radius: 50%;
  border: none;
  cursor: pointer;
  display: flex;
  height: 32px;
  justify-content: center;
  margin: 0;
  padding: 0;
  transition: all .3s ease-in-out;
  width: 32px;
  opacity: 0;
  visibility: hidden;
}

.itemRemove svg path {
  fill: #fb3636;
}

.itemRemove small {
  display: inline-block;
  font-size: 1.125rem;
  font-weight: 800;
  line-height: 1;
}

.itemRemove,
.itemRemove:focus,
.itemRemove:active {
  outline: none;
}

.itemRemove:focus,
.itemRemove:hover {
  background-color: rgba(255, 207, 207, 0.8);
}

.item:hover .itemRemove {
  opacity: 1;
  visibility: visible;
}
